@import "../../../scss/variabels.scss";

button {
  padding: 10px;
  margin: 15px 0;
  
  width: 100%;
  
  border: 1px solid $primary-color;
  border-radius: 5px;

  font-weight: bold;
}

.primary {
  background-color: $primary-color;
  
  color: $second-color;

  transition-duration: 0.4s;
  
  &:hover{
    background-color: $second-color;

    color: $primary-color;

    transition-duration: 0.4s;
  }
}

.second {
  background-color: $second-color;

  color: $primary-color;

  transition-duration: 0.4s;

  &:hover{
    background-color: $primary-color;

    color: $second-color;

    transition-duration: 0.4s;
  }
}